In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [7]:
df = pd.read_csv('./cars.csv', skipinitialspace=True)

In [8]:
df.head()

    mpg  cylinders  cubicinches   hp  weightlbs  time-to-60  year    brand
0  14.0          8        350.0  165     4209.0          12  1972      US.
1  31.9          4         89.0   71     1925.0          14  1980  Europe.
2  17.0          8        302.0  140     3449.0          11  1971      US.
3  15.0          8        400.0  150     3761.0          10  1971      US.
4  30.5          4         98.0   63     2051.0          17  1978      US.

In [9]:
df.shape

(261, 8)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   mpg          261 non-null    float64
 1   cylinders    261 non-null    int64
 2   cubicinches  259 non-null    float64
 3   hp           261 non-null    int64
 4   weightlbs    258 non-null    float64
 5   time-to-60   261 non-null    int64
 6   year         261 non-null    int64
 7   brand        261 non-null    object
dtypes: float64(3), int64(4), object(1)
memory usage: 16.4+ KB

In [13]:
df.isnull().sum()

mpg            0
cylinders      0
cubicinches    2
hp             0
weightlbs      3
time-to-60     0
year           0
brand          0
dtype: int64

1. Create scatter plots for the following data, make sure all the plots appear in the same
plane with x-labels and y-labels evenly spaced.