In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'num_legs': [2, 4, 8, 0],
                   'num_specimen_seen': [10, 2, 1, 8]},
                  index=['falcon', 'dog', 'spider', 'fish'])

In [5]:
df[:] = 0
df

        num_legs  num_specimen_seen
falcon         0                  0
dog            0                  0
spider         0                  0
fish           0                  0

In [7]:
s = pd.Series([1, 2, 2], index=[1, 2, 3])
s

1    1
2    2
3    2
dtype: int64

In [8]:
data = {'fruits': ["Apples", "Bananas", "Mangoes"], "count": [10, 20, 15]}
df = pd.DataFrame(data)
df

    fruits  count
0   Apples     10
1  Bananas     20
2  Mangoes     15

In [10]:
pd1 = pd.Series([2, 4, 6, 8, 10])
p2 = pd.Series([8, 10, 12, 14, 16])
pd1[~pd1.isin(p2)]

0    2
1    4
2    6
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   fruits  3 non-null      object
 1   count   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes