# Python

I am starting learning python today

In [1]:
print("Hello World")

Hello World

In [1]:
Datatypes, variables , operators

In [ ]:
DataTypes : type of value of a variable, 
    is a classification that specifies which type of value a variable has.
1. Numeric : int , float (decimal number)
2. str : series/sequence of characters(a-z/A-Z)
3. bool : True/False
4. None

In [ ]:
Variables : names that we give to computer memory locations which
    are used to store some values in a computer program.

In [2]:
a = 2

In [3]:
type(a)

int

In [4]:
a

2

In [ ]:
to create a var age with value 33.5 and check its type?

In [5]:
age = 33.5

In [6]:
type(age)

float

In [ ]:
'',"","""multi line string"""

In [7]:
first_string = 'This is my first string'

In [8]:
type(first_string)

str

In [12]:
first_string

'This is my first string'

In [10]:
print(first_string)

This is my first string

In [14]:
second_string = "Intellipaat's students"

In [15]:
third_string = """This is a sample 
multiline string example"""

In [16]:
print(third_string)

This is a sample
multiline string example

In [21]:
me = """My name is rajeshwari
I live in Delhi
I work as a data scientist"""

In [22]:
type(me)

str

In [23]:
print(me)

My name is rajeshwari
I live in Delhi
I work as a data scientist

In [24]:
me

'My name is rajeshwari\nI live in Delhi\nI work as a data scientist'

In [25]:
a = True

In [26]:
type(a)

bool

In [27]:
#keywords are reserved words in python that cannot be used as var name,class name or func name.
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [28]:
keyword_list = keyword.kwlist

In [29]:
len(keyword_list)

35

In [30]:
var = None

In [31]:
var

In [32]:
type(var)

NoneType

In [33]:
id(var)

4423604984

In [ ]:
Rules to define a variable names:
    1. A var name must start with a letter or underscore character.
    2. It cannot start with a number.
    3. only contain (a-z,A-Z,0-9,_)
    4. no special char like $,& is allowed
    4. No whitespace is alowed

In [ ]:
myname = "sakshi" --#correct

In [34]:
#2myname = "sakshi" #wrong
my-name = "sakshi" # wrong
myname2 = "sakshi" #right
my name = "sakshi" #wrong

SyntaxError: invalid syntax (<ipython-input-34-9c197d6facbe>, line 1)

In [38]:
import os
print(os.getcwd())

/Users/gordysingh/23 april Python

In [ ]:
Operators : 1. Arithmatic operatic +,-,*,/,//,**,%
    2. comparison : <,>,<=,>=,!=,==
    3. logical : and , or , not
    4. membership operators : in,not in

In [39]:
2+5

7

In [40]:
a= 2
b = 5

In [41]:
a+b

7

In [42]:
c = a+b

In [43]:
c

7

In [44]:
a-b

-3

In [45]:
a*b

10

In [46]:
a/b

0.4

In [48]:
5/2

2.5

In [49]:
5//2 #floor division it returns the value before decimal

2

In [50]:
2//5

0

In [52]:
#modulus operator returns remainder
5%2

1

In [53]:
5**2 #exponent , it means 5 to the power 2.

25

In [54]:
5%2.5

0.0

In [ ]:
#BODMAS -- maths
#PEDMAS -- python , p is for parenthesis

In [55]:
2>3

False

In [56]:
4<3

False

In [57]:
2>=1

True

In [58]:
5<=6

True

In [59]:
5!=6 #5 not equals to 6

True

In [60]:
5==5 #5 equals to 5

True

In [ ]:
= , assignment operator 
== , comparison operator

In [61]:
 (2+3)*4/5+45 #PEDMAS

49.0

In [ ]:
logical -- and, or , not

In [62]:
5>2 and 2<1

False

In [63]:
5>2 or 2<1

True

In [64]:
not True

False

In [ ]:
bonus = ?
sal > 25000 and year_of_exp >5
bonus = 5% of salary
supoose if salary is 50000 can u calculate bonus and print it?

In [65]:
salary = 50000
bonus = salary * 0.05
print("Bonus Anmmount is " , bonus)

Bonus Anmmount is  2500.0

In [67]:
sal = input("Please enter your salary..")

Please enter your salary..45000

In [68]:
type(sal)

str

In [72]:
#sal = int(input("Please enter your salary.."))
sal = float(input("Please enter your salary.."))

Please enter your salary..56000

In [73]:
sal * 0.05

2800.0

Even

Eligible for bonus of 2525.2

Tax value: 678300.0

2022 is not leap year